@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-text-primary font-body antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display text-text-primary;
  }
}
